<script type='text/javascript'>
$(function() {
Dashing.gridsterLayout('[{"col":2,"row":1,"size_x":1,"size_y":1},{"col":1,"row":1,"size_x":1,"size_y":1},{"col":3,"row":1,"size_x":1,"size_y":1},{"col":2,"row":2,"size_x":2,"size_y":1},{"col":4,"row":1,"size_x":2,"size_y":2},{"col":1,"row":2,"size_x":1,"size_y":1}]')
  Dashing.widget_base_dimensions = [370, 340]
  Dashing.numColumns = 5
});
</script>


<% content_for :title do %>Voke Dashboard<% end %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="last_month" data-view="Number" data-title="New Users" data-moreinfo="Last Month"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="chatting" data-view="Number" data-title="Active Users" data-moreinfo="Engaged in chat"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="links_shared" data-view="Number" data-title="Links Shared"></div>
    </li>

    <!--li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="synergy" data-view="Meter" data-title="Synergy" data-height="200" data-width="200" data-min="0" data-max="100" data-suffix="%"></div>
    </li-->

    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="topics" data-view="List" data-unordered="true" data-title="Popular Topics"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="2" data-sizey="2">
      <div data-id="top_sharers" data-view="List" data-unordered="true" data-title="Top Sharers" data-moreinfo="# of conversations initiated"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="total_users" data-view="Number" data-title="Total Users" data-moreinfo="Since Launch"></div>
    </li>

  </ul>
</div>
